.main_wrapper {
    display: flex;
}

.left_rail {
    height: 100vh;
    width:65px;
    background: mediumpurple;
}

.main_header {
    width:100%;
    height: 65px;
    background: lightgray;
    display: flex;
    justify-content: space-between;
}

.logo {
    width:150px;
    height: 50px;
    background: lightcoral;
}


nav {
    width: 400px;
    height: 30px;
    background: lightcoral;

}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_content {
    width:100%;
    height:100vh;
    background: gray;
    display: flex;  
    flex-wrap: wrap;
}

.cards {
    width: 200px;
    height: 200px;
    background: lightseagreen;
    border-radius: 10%;
    margin-left: 20px;
    margin-bottom: 20px;
}
